.login__wrapper {
  margin: auto;

  .login__navbar {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    border-bottom: 1px solid darkgray;
  }

  .login__form {
    display: flex;
    flex-direction: column;

    input[type='password'],input[type='email'] {
      width: 15rem;
    }

    input[type='submit'] {
      align-self: center;
      width: 10rem;
    }
  }
}

.error {
  border-color: red;
}