<div class="container mt-3">

  <div class="text-center">
    <% @groups.each do |group| %>
      <footer class="blockquote-footer fs-5 pt-5 pb-3"><%= group.caption %></footer>
      <table class="table mx-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Почта</th>
            <th scope="col">ФИО</th>
            <th scope="col">Предмет</th>
          </tr>
        </thead>
        <tbody>
        <% group.teachers.each do |user| %>
          <tr>
            <th scope="row"></th>
            <td><%= user.email %></td>
            <td><%= "#{user.personal.surname} #{user.personal.firstname} #{user.personal.patronymic}" %></td>
            <td><%= user.teacher_bindings.find_by(group_id: group.id).subject.caption %></td>
          </tr>

        <% end %>
        </tbody>
      </table>


    <% end %>
  </div>

<!--  <div class="mt-3">-->
    <%# @subjects.each do |subject| %>
<!--      <footer class="blockquote-footer fs-6"><%#= subject.caption %></footer>-->
<!--      <div>-->
        <%# subject.groups.distinct.each do |group| %>
<!--          <footer class="mx-4 mt-3 blockquote-footer fs-6"><%#= group.caption %></footer>-->
<!--            <table class="table mx-5 w-100">-->
<!--              <thead>-->
<!--                <tr>-->
<!--                  <th scope="col">#</th>-->
<!--                  <th scope="col">Почта</th>-->
<!--                  <th scope="col">ФИО</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
                <%# group.teachers.each_with_index do |teacher, index| %>
<!--                  <tr>-->
<!--                    <th scope="row"><%#= index + 1 %></th>-->
<!--                    <td><%#= teacher.email %></td>-->
<!--                    <td><%#= "#{teacher.personal.surname} #{teacher.personal.firstname} #{teacher.personal.patronymic}" %></td>-->
<!--                  </tr>-->
                <%# end %>
<!--              </tbody>-->
<!--            </table>-->
        <%# end %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->

</div>